.cls-1 {
  fill: #a0b100;
}
.cls-2 {
  fill: #e94a63;
}
.cls-3 {
  fill: #bf1640;
}
.cls-4 {
  fill: #fff6cc;
}
.cls-5 {
  fill: #d40a57;
}
.cls-6 {
  fill: #1d1d1b;
}
.cls-7 {
  fill: #fc0;
}
.cls-8 {
  fill: #fff;
}
.cls-9 {
  fill: #35b6b4;
}
.cls-10 {
  fill: #ed6a78;
}
.cls-11 {
  fill: #7cc8c4;
}
.cls-12 {
  fill: #432918;
}
.cls-13 {
  fill: #f4abb9;
}
.cls-14 {
  fill: #eeedef;
}
.cls-15 {
  fill: #8e8c89;
}
.cls-16 {
  fill: #f39200;
}
.cls-17 {
  fill: #c3c910;
}
.cls-18 {
  fill: #13110c;
}
.cls-20 {
  fill: #ee757f;
}
